<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412322100407-a58r9tpblb2dp6l0at9scou4nm6jv6mm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412322100407-a58r9tpblb2dp6l0at9scou4nm6jv6mm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>412322100407-0rnuit2t6n43g0enmnk4dmbhks76b7gv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnWay8imph8q0U0EwKl8YgTDfEaEYzjJY</string>
	<key>GCM_SENDER_ID</key>
	<string>412322100407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mzaodin.app</string>
	<key>PROJECT_ID</key>
	<string>mzaodin-95ebb</string>
	<key>STORAGE_BUCKET</key>
	<string>mzaodin-95ebb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412322100407:ios:f52c3e16c02fe058798932</string>
</dict>
</plist>